a{
  text-decoration: none;
}

.siteheading{
  font-size: 50px;
  color: maroon;
}

body, html {
    height: 100%;
}

.bg-jazz {
    /* The image used */
    background-image: url("jazz.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    height: 100%;
}

.bg-hiphop {
    /* The image used */
    background-image: url("hiphop.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    height: 100%;
}

.bg-rock {
    /* The image used */
    background-image: url("rock.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("sitebackground.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    height: 100%;
}

.bg-rap{
    /* The image used */
    background-image: url("RAP.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    height: 100%;
}

.bg-dubstep {
    /* The image used */
    background-image: url("dubstep.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    height: 100%;
}

.bg-trap {
    /* The image used */
    background-image: url("trap.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    height: 100%;
}

.bg-skrillex {
    /* The image used */
    background-image: url("skrillex.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    height: 100%;
}

.bg-fortminor {
    /* The image used */
    background-image: url("fortminor.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    height: 100%;
}

.bg-edm {
    /* The image used */
    background-image: url("edm.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.center-div

{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 600px;
}

.dubstep-font{
  font-size: 50px;
  color: cyan;
}

.rap-font{
  font-size: 50px;
  color: blue;
}

.rock-font{
  font-size: 50px;
  color: red;
}

.jazz-font{
  font-size: 50px;
  color: orange;
}

.hiphop-font{
  font-size: 50px;
  color: limegreen;
}

.trap-font{
  font-size: 50px;
  color: yellow;
}

.skrillex-font{
  font-size: 50px;
  color: darkorange;
}

.fortminor-font{
  font-size: 50px;
  color: orangered;
}

.edm-font{
  font-size: 50px;
  color: cyan;
}
